#hero {
    background: $black;
    background-size: cover;
    height: 500px;
    padding-top: 100px;
    border-bottom: 1px solid transparentize($white,.8);

    .section__title {
      color: $blue;
    }

    .section__subtitle {
      color: $white;
    }
  
    @include medium {
      height: 800px;
      padding-top: 0;
    }
  }