.ion {
    position: relative;
    z-index: 1;
  
    &-social-html5 {
      color: #F16529;
    }
  
    &-social-css3 {
      color: #1C88C7;
    }
  
    &-social-sass {
      color: #CD669A;
    }
  
    &-social-javascript{
      color: #F0DB4F;
    }

    &-social-python{
      color: #3774A8;
    }

    &-social-vue{
      color: #3EAF7C;
    }
  
    &-social-nodejs {
      color: #6AA568;
    }
  
    &-android-share-alt {
      color: #F05033;
    }
  
    &-social-linkedin {
      color: #0083BE;
    }
  
    &-social-codepen {
      color: #333;
    }
  
    &-social-github {
      color: #F05033;
    }
  
    &-social-wordpress {
      color: #1192C7;
    }
  
    &-android-list {
      color: #6441A5;
    }
  }