.bio__tools {
  display: flex;
  flex-wrap: wrap;

  .tool-container {
    width: calc(10% - 20px);
    margin: 10px;

    img {
      transform: scale(0.5);
    }
  }
}

.bio-image-container {
  flex: 1;
  .bio-image {
    background: url("../images/bio-pic.png");
    background-size: cover;
    height: 200px;
    width: 200px;
    border: 3px solid #333;
    margin: 0 auto;
  }
}

.bio-content {
  flex: 2;

  @include medium {
    margin-top: 0;
    text-align: left;
  }

  &__title {
    color: $white;
    margin-top: 0;
    font-weight: 300;
    display: inline-block;
    border-bottom: 2px solid $red;
    padding-bottom: 5px;
    margin-bottom: 10px;

    &--margin {
      margin-top: 25px;
    }
  }

  &__description {
    line-height: 2;
  }
}

.bio-outer-text {
  line-height: 2;
  margin-bottom: 0;

  span {
    color: $grey;

    &.orange:hover {
      color: #f16529;
    }

    &.blue:hover {
      color: #1c88c7;
    }

    &.yellow:hover {
      color: #f0db4f;
    }

    &.reactblue:hover {
      color: #61dafb;
    }

    &.gulpred:hover {
      color: #d34446;
    }

    &.nodegreen:hover {
      color: #659a60;
    }

    &.gitorange:hover {
      color: #e84d31;
    }

    &.pyblue:hover {
      color: #3774a8;
    }

    &.djangogreen:hover {
      color: #187953;
    }

    &.vuegreen:hover {
      color: #3fb27f;
    }
  }
}

.findme {
  color: #fff;
  display: flex;
  width: 160px;
  justify-content: space-between;
  font-size: 2rem;
}

.findme-icon:hover {
  opacity: 0.8;
}
