footer {
  background: $black;
  color: $white;
  padding: 20px 0;
  border-top: 1px solid transparentize($white, 0.7);

  p {
    margin: 0;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
  }
}
