$black: #252525;
$orange: #bf6f6f;
$yellow: #d1d646;
$white: #f2f2f2;
$blue: #41eafc;
$red: #d13b3b;
// $black: #32322C;
// $orange: #39A0ED;
// $yellow: #481620;
// $white: #4C6085;
// $blue: #13C4A3;

// $black: #212738;
// $orange: #f97068;
// $yellow: #d1d646;
// $white: #edf2ef;
// $blue: #57c4e5;

// $black: #191923;
// $orange: #BF1363;
// $yellow: #d1d646;
// $white: #FBFEF9;
// $blue: #0E79B2;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background: $black;
  color: $white;
}

a {
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in-out;
}
