.header {
  display: none;
  @include medium {
    width: 150px;
    background: $black;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    display: block;
    border-right: 1px solid transparentize($white, 0.7);
  }
  text-align: right;

  &__logo {
    margin: 0 auto;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__nav {
    margin: 0 20px 0 0;
    padding: 0;
    list-style: none;

    li {
      margin: 10px 0;
    }
  }

  &__nav-link {
    border-bottom: 1px dotted $red;
    display: inline-block;
    position: relative;
    color: $white;

    &::after {
      content: "<";
      color: $orange;
      position: absolute;
      right: -50px;
      pointer-events: none;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      border-bottom-color: $orange;
      &::after {
        right: -20px;
      }
    }
  }

  &__nav-link--email {
    margin-top: 0px;
    border-radius: 3px;
    padding: 5px 15px;
    background: $grey;
    color: $black;
    font-weight: 600;
    border-bottom: none;

    &::after {
      color: $red;
    }

    &:hover {
      background: $red;
    }
  }
}
