#hero {
  background: $black;
  background-size: cover;
  min-height: 100vh;
  padding-top: 100px;
  border-bottom: 1px solid transparentize($white, 0.8);
  font-size: 0.9rem;

  .section__heading {
    padding: 20px;
  }
  .section__title {
    color: $red;
    transition: 0.2s;
  }

  .section__subtitle {
    color: $white;
  }

  .section__definition {
    h3 {
      color: $white;
    }

    p {
      color: $grey;
      line-height: 1rem;
    }

    p:last-child {
      color: $white;
    }

    span {
      color: $red;
    }
    span.dot {
      color: $red;
    }
  }

  @include medium {
    height: 800px;
    padding-top: 0;
  }

  @include x-small {
    font-size: 1rem;

    .section__definition p {
      line-height: 1.3rem;
    }
  }
}
