#hero {
  background: $black;
  background-size: cover;
  padding-top: 50px;
  font-size: 0.9rem;
  flex: 1;

  .section__heading {
    padding: 20px;
  }
  .section__title {
    color: $red;
    transition: 0.2s;
    opacity: 0;
  }

  .section__subtitle {
    color: $white;
  }

  .section__definition {
    h3 {
      color: $white;
    }

    p {
      color: $grey;
      line-height: 1.8rem;

      @include landscape {
        font-size: 0.8rem;
      }
    }

    p:last-child {
      color: $white;
    }

    span {
      color: $red;
    }
    span.dot {
      color: $red;
    }
  }

  @include medium {
    padding-top: 0;
  }

  @include x-small {
    font-size: 1rem;

    .section__definition p {
      line-height: 1.3rem;
    }
  }
}

.hero-wrap .findme {
  margin: 0 auto;
}

.hero-wrap .findme-icon {
  color: #fff !important;

  @include landscape {
    span {
      font-size: 1.5rem;
    }
  }

  @include small {
    span {
      font-size: 1.5rem;
    }
  }
}
