.ion {
  position: relative;
  z-index: 1;

  &-social-html5 {
    color: #f16529;
  }

  &-social-css3 {
    color: #1c88c7;
  }

  &-social-sass {
    color: #cd669a;
  }

  &-social-javascript {
    color: #f0db4f;
  }

  &-social-python {
    color: #3774a8;
  }

  &-social-vue {
    color: #3eaf7c;
  }

  &-social-react {
    color: #61dafb;
  }

  &-social-nodejs {
    color: #6aa568;
  }

  &-android-share-alt {
    color: #f05033;
  }

  &-social-linkedin {
    color: #0083be;
  }

  &-social-codepen {
    color: $white;
    transition: 0.2s;
  }

  &-social-github {
    color: #f05033;
  }

  &-social-wordpress {
    color: #1192c7;
  }

  &-android-list {
    color: #6441a5;
  }
  &-override-color {
    color: #fff !important;
  }
}
