.nav-wrapper {
  margin: 0 auto;
  padding: 20px 10px;
  text-align: right;
  height: 100%;
}

.mobile-nav-wrapper {
  padding: 10px 20px;
  margin: 0 auto;
}

.wrapper-narrow {
  max-width: 976px;
  margin: 0 auto;
}

.body-wrap {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
