body {
  overflow: hidden;
}

.nav-wrapper {
  margin: 0 auto;
  padding: 20px 10px;
  text-align: right;
  height: 100%;
}

.mobile-nav-wrapper {
  padding: 10px 20px;
  margin: 0 auto;
}

.wrapper-narrow {
  max-width: 976px;
  margin: 0 auto;
}

.body-wrap {
  height: 100vh;
  width: 400%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translatex(0%);
}

.main-wrap {
  display: flex;
  width: 100%;
}

.hero-wrap {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bio-wrap {
  width: 25%;
  display: flex;
  align-items: center;
}
